In [1]:
from datetime import *
import gspread
from dateutil.parser import parse
from oauth2client.service_account import ServiceAccountCredentials
import random
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [16]:
class ContasPagar:

    def __init__(self):
        scope = ['https://www.googleapis.com/auth/drive']
        creds = ServiceAccountCredentials.from_json_keyfile_name(
            'fluxo-de-caixa-dd17434e5a66.json', scope)
        client = gspread.authorize(creds)
        sheet = client.open('contas-a-pagar').sheet1
        self.sheet = sheet

    def head(self):
        indice = self.sheet.row_values(1)
        self.indice = indice
        return self.indice

    #funcionando
    def data_compra(self):
        data = self.sheet.col_values(1)
        mes_compra = []
        row = 0
        # converte o formato de string em data
        for item in data[2:]:
            if len(item) > 0:
                item_data = datetime.strptime(item, '%d/%m/%Y')
                mes_compra.insert(row, item_data)
                row += 1
            else:
                pass
        self.mes_compra = mes_compra
        return self.mes_compra

    def data_vencimento(self):
        data = self.sheet.col_values(1)
        mes_compra = []
        row = 0
        # converte o formato de string em data
        for item in data[2:]:
            if len(item) > 0:
                item_data = datetime.strptime(item, '%d/%m/%Y')
                mes_compra.insert(row, item_data)
                row += 1
            else:
                pass
        self.mes_compra = mes_compra
        return self.mes_compra

    def fornecedor(self):
        data = self.sheet.col_values(3)
        fornecedor = []
        row = 0
        for el in data[2:]:
            if len(el) > 0:
                fornecedor.insert(row, el)
                row += 1
            else:
                pass
        self.fornecedor = fornecedor
        return self.fornecedor

    def valor_boletos(self):
        # recebe o valor do boleto devido
        data = self.sheet.col_values(4)
        # conv = converte_data(data)
        self.data = data
        valor_boletos = []
        #passar dados para float
        row = 0
        total_boletos = 0
        # Inicia no valor inicial 2 linha
        for item in data[2:]:
            if len(item) > 0:
                item = item.replace('.', '')
                item = item.replace(',', '.')
                valor = float(item)
                valor_boletos.insert(row, valor)
                row += 1
            else:
                pass
        self.valor_boletos = valor_boletos
        return self.valor_boletos

    def banco(self):
        data = self.sheet.col_values(5)
        row = 0
        banco = []
        for el in data[2:]:
            if len(el) > 0:
                banco.insert(row, el)
                row += 1
            else:
                pass
        self.banco = banco
        return self.banco


    def status(self):
        data = self.sheet.col_values(6)
        status = []
        row = 0
        for el in status:
            status.insert(row, el)
            row += 1
        else:
            pass
        self.status = status
        return self.status

    def panda(self):
        dc = pd.Series(c.data_compra(), name='data_compra')
        dv = pd.Series(c.data_vencimento(), name='data_vencimento')
        f = pd.Series(c.fornecedor(), name='fornecedor')
        vb = pd.Series(c.valor_boletos(), name='valor_boletos')
        b = pd.Series(c.banco(), name='banco')
        s = pd.Series(c.status(), name='status')
        df = pd.concat([dc, dv, f, vb, b, s], axis=1)
        self.df = df
        return self.df

In [17]:
c = ContasPagar()

In [6]:
print(c.banco)

['BB', 'BB', 'BB', 'bb', 'itau', 'bradesco', 'bradesco', 'santander', 'BB', 'santander']

In [18]:
df = c.panda()

In [21]:
df.banco

0           BB
1           BB
2           BB
3           bb
4         itau
5     bradesco
6     bradesco
7    santander
8           BB
9    santander
Name: banco, dtype: object

In [23]:
df

,data_compra,data_vencimento,fornecedor,valor_boletos,banco,status
0,2017-07-25,2017-07-25,Lb - Ind,1142.82,BB,NaN
1,2017-07-25,2017-07-25,Lb - Ind,1142.82,BB,NaN
2,2017-07-25,2017-07-25,Lb - Ind,1142.86,BB,NaN
3,2017-07-25,2017-07-25,Lb - Ind,1142.86,bb,NaN
4,2017-08-10,2017-08-10,Fava,653.60,itau,NaN
5,2017-08-25,2017-08-25,Total Formento,1818.80,bradesco,NaN
6,2017-08-25,2017-08-25,Total Formento,1617.64,bradesco,NaN
7,2017-08-11,2017-08-11,Rhr Cosmésticos,326.13,santander,NaN
8,2017-07-25,2017-07-25,Lb - Ind,1142.86,BB,NaN
9,2017-08-11,2017-08-11,Rhr Cosmésticos,326.13,santander,NaN

In [25]:
#aplica query
df.query('fornecedor == "Total Formento"')

  data_compra data_vencimento      fornecedor  valor_boletos     banco  status
5  2017-08-25      2017-08-25  Total Formento        1818.80  bradesco     NaN
6  2017-08-25      2017-08-25  Total Formento        1617.64  bradesco     NaN

In [29]:
df.query('fornecedor == "Total Formento"').groupby('data_vencimento').mean()

                 valor_boletos  status
data_vencimento
2017-08-25             1718.22     NaN

In [31]:
df

,data_compra,data_vencimento,fornecedor,valor_boletos,banco,status
0,2017-07-25,2017-07-25,Lb - Ind,1142.82,BB,NaN
1,2017-07-25,2017-07-25,Lb - Ind,1142.82,BB,NaN
2,2017-07-25,2017-07-25,Lb - Ind,1142.86,BB,NaN
3,2017-07-25,2017-07-25,Lb - Ind,1142.86,bb,NaN
4,2017-08-10,2017-08-10,Fava,653.60,itau,NaN
5,2017-08-25,2017-08-25,Total Formento,1818.80,bradesco,NaN
6,2017-08-25,2017-08-25,Total Formento,1617.64,bradesco,NaN
7,2017-08-11,2017-08-11,Rhr Cosmésticos,326.13,santander,NaN
8,2017-07-25,2017-07-25,Lb - Ind,1142.86,BB,NaN
9,2017-08-11,2017-08-11,Rhr Cosmésticos,326.13,santander,NaN

In [34]:
dir(df)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'banco',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data_compra',
 'data_vencimento',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'fornecedor',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'status',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'valor_boletos',
 'values',
 'var',
 'where',
 'xs']